@font-face {
  font-family: 'univers_black_extended';
  src: url('../../../assets/fonts/UniversLT-BlackExt.eot');
  src: url('../../../assets/fonts/UniversLT-BlackExt.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/UniversLT-BlackExt.woff') format('woff'),
       url('../../../assets/fonts/UniversLT-BlackExt.ttf')  format('truetype'),
       url('../../../assets/fonts/UniversLT-BlackExt.svg#a838ad4b4e647202a1d70bd5f14639ac') format('svg');
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'univers_bold_extended';
  src: url('../../../assets/fonts/UniversLT-BoldExt.eot');
  src: url('../../../assets/fonts/UniversLT-BoldExt.eot?#iefix') format('embedded-opentype'),
       url('../../../assets/fonts/UniversLT-BoldExt.woff') format('woff'),
       url('../../../assets/fonts/UniversLT-BoldExt.ttf')  format('truetype'),
       url('../../../assets/fonts/UniversLT-BoldExt.svg#cf1f734feb764228bf2e7df4b0eacf82') format('svg');
  font-style:   normal;
  font-weight:  700;
}
