@media only screen and (max-width: 1120px) {
  nav {
    margin-right: 20px;
  }
  .info-button {
    position: static;
    display: inline-block;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 1020px) {
  nav {
    max-width: 40%;
  }
  .slick-custom-button {
    width: 20%;
  }
}

@media only screen and (max-width: 760px) {
  header {
    height: auto;
    margin: 30px 30px;
  }
  h1,
  nav {
    display: block;
    max-width: none;
    width: 100%;
  }
  nav {
    margin-bottom: 20px;
  }
  .image-viewer {
    width: calc(100% - 20px);
    padding-top: 60px; // value matches the imageViewerHeight javascript variable, minus the original padding
  }
  .slick-next,
  .slick-prev,
  .slick-custom-button {
    display: none !important;
  }
  .slick-initialized {
    padding: 0;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-image-section {
    margin: 20px 10px;
  }
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
