@media only screen and (max-width: 1120px) {
  nav {
    margin-right: 20px;
  }
  .info-button {
    position: static;
    display: inline-block;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 1020px) {
  nav {
    max-width: 40%;
  }
}

@media only screen and (max-width: 760px) {
  header {
    height: auto;
  }
  h1,
  nav {
    display: block;
    max-width: none;
    width: 100%;
  }
  nav {
    margin-bottom: 20px;
  }
}

@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
