//
// Footer
//

footer {
  background: $yellow;
  padding: $space_medium;
  h6 {
    margin-top: $space_small;
    margin-left: -2px; // to account for outline width
  }
}

.footer-image-section {
  margin: $space_xsmall;
}

.footer-image-wrapper {
  display: inline-block;
  margin: $space_small;
  img {
    outline: 2px solid #000;
  }
}
