//
// Image sets
//

$image_set_info_height: 80px;
$featured_image_set_info_height: 100px;

.image-set {
  position: relative;
  display: inline-block;
  margin: $space_xsmall $space_xsmall 0;

  img,
  .image-set-placeholder {
    position: absolute;
    cursor: pointer;
  }

  img {
    z-index: 1;
    left: 0;
  }

  .image-set-placeholder {
    background: #fff;
    outline: 2px solid #000;
    transition: background .2s;
    &:hover {
      background: #DBDBDB;
    }
  }
}

.featured-image-set {
  display: block;
  margin: $space_large auto;
  .image-set-info {
    height: $featured_image_set_info_height;
    font-size: $font_medium;
  }
  .image-set-info-wrapper {
    &:hover {
      .image-set-info {
        margin-top: -$featured_image_set_info_height;
      }
    }
  }
}

.image-set-info-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .image-set-info {
      margin-top: -$image_set_info_height;
    }
  }
}

.image-set-info {
  height: $image_set_info_height;
  position: absolute;
  top: 100%;
  left: 0;
  display: table;
  z-index: 2;
  width: 100%;
  background: $yellow;
}

.image-info-text {
  display: table-cell;
  vertical-align: middle;
}

// Image viewer

.image-viewer {
  position: relative;
  width: 90%;
  height: 0;
  max-height: 800px;
  margin: $space_medium auto $space_large;
  padding: $space_xsmall;
  border: 2px solid #000;
  transition: height .4s;
  &.open {
    height: 600px;
  }
}

.image-viewer-open-indicator {
  position: absolute;
  top: 0;
  margin-left: -95px; // Offset is relative to the the width of the up indicator and padding on the image set
  &:before,
  &:after {
    position: absolute;
    bottom: 100%;
  }
  &:before {
    @extend %arrow-top;
    content: "";
    border-width: 0 30px 30px 30px;
  }
  &:after {
    @extend %arrow-top;
    content: "";
    border-width: 0 27px 27px;
    border-color: transparent transparent #fff transparent;
    margin-left: 3px;
  }
}

.image-viewer-slide-container {
  height: 100%;
}

.image-viewer-slide-count {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.image-viewer-close {
  @extend %close;
  top: $space_small;
  right: $space_small;
  z-index: 1;
}

.slick-initialized {
  .slick-slide {
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0 auto;
    }
  }
}

.slick-list {
  top: 50%;
  transform: translate(0, -50%);
}
