//
// Image sets
//

$image_set_info_height: 80px;
$featured_image_set_info_height: 100px;

// All results

.image-result {
  display: inline-block;
  margin: $space_xsmall $space_xsmall 0;
  &.no-outline {
    outline: 0;
  }
}

// Single images

.single-image {
  cursor: pointer;
}

// Images sets

.image-set {
  position: relative;

  img,
  .image-set-placeholder {
    position: absolute;
    cursor: pointer;
  }

  img {
    z-index: 1;
    left: 0;
  }

  .image-set-placeholder {
    background: #D3D3D3;
    border: 2px solid #fff;
    &:hover {
      background: #000 !important;
    }
  }
}

.featured-image-set {
  display: block;
  margin: $space_large auto;
  .image-set-info {
    height: $featured_image_set_info_height;
    font-size: $font_medium;
  }
  .image-set-info-wrapper {
    &:hover {
      .image-set-info {
        margin-top: -$featured_image_set_info_height;
      }
    }
  }
}

.image-set-info-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .image-set-info {
      margin-top: -$image_set_info_height;
    }
  }
}

.image-set-open {
  .image-set-info {
    margin-top: -$image_set_info_height;
  }
}

.image-set-info {
  height: $image_set_info_height;
  position: absolute;
  top: 100%;
  left: 0;
  display: table;
  z-index: 2;
  width: 100%;
  background: $yellow;
}

.image-info-text {
  display: table-cell;
  vertical-align: middle;
}

// Image viewer

.image-viewer {
  position: relative;
  width: 90%;
  width: calc(100% - #{$space_medium} * 2);
  height: 0;
  // max-width: 1324px;
  max-height: 900px;
  margin: $space_medium auto $space_large;
  padding: $space_xsmall;
  border: 2px solid #000;
  &.open {
    height: 600px;
  }
  &.image-viewer-single-image {
    .image-viewer-slide-count {
      display: none;
    }
  }
}

.image-viewer-open-indicator {
  position: absolute;
  top: 0;
  margin-left: -30px; // Offset is relative to the the width of the indicator
  width: 60px;
  text-align: left;
  background-color: #fff;
  padding-bottom: 2px;
  &:before,
  &:after {
    position: absolute;
    bottom: 100%;
  }
  &:before {
    @extend %arrow-top;
    content: "";
    border-width: 0 30px 30px 30px;
  }
  &:after {
    @extend %arrow-top;
    content: "";
    border-width: 0 27px 27px;
    border-color: transparent transparent #fff transparent;
    margin-left: 3px;
  }
}

.image-viewer-slide-container {
  height: 100%;
}

.image-viewer-slide-count {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.image-viewer-close {
  @extend %close;
  top: $space_small;
  right: $space_small;
  z-index: 1;
}

.slick-custom-button {
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.slick-custom-prev {
  left: 0;
}

.slick-custom-next {
  right: 0;
}

.caption {
  display: none;
  font-size: $font_small;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100%;
  margin-top: -1.3em;
}

.slick-initialized {
  padding: 0 $space_medium;
  .slick-slide {
    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0 auto;
    }
    &.has-caption {
      img {
        // padding-bottom: 36px;
        // position: relative;
        // top: 50%;
        // transform: translate(0, -50%);
      }
    }
  }
}

.slick-list {
  top: 50%;
  transform: translate(0, -50%);
}
