//
// Main styles
//

.pjax-container {
  position: relative;
  &.pjax-transition {
    .post-container {
      opacity: 0;
    }
  }
  .post-container {
    transition: opacity 0.6s;
  }
}

.info-wrapper {
  display: none;
  font-size: $font_regular;
  padding: $space_medium;
  background: $yellow;
  z-index: 100;
  h2 {
    margin-bottom: $space_medium;
  }
  h4 {
    margin-left: $space_medium;
    margin-bottom: 1em;
    &:not(:first-child){
      padding-top: 1.4em;
    }
    & + h4,
    & + ul {
      margin-top: -1em;
    }
  }
}

.info-wrapper-close {
  @extend %close-yellow;
  position: absolute;
  right: 40px;
}

.column {
  float: left;
  width: 33%;
  max-width: 450px;
  min-width: 320px;
  padding-left: $space_medium;
}

.loader {
  display: none;
  position: absolute;
  left: 50%;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}

.ajax-navigation,
.ajax-loading {
  margin-top: 150px;
}
