//
// Header and Navigation
//

header {
  height: 100px;
  margin: 30px $space_medium;
  position: relative;
}

.select2-drop-active {
  top: (30px + 1) !important;
}

h1,
nav {
  display: inline-block;
}

h1 {
  margin-right: $space_xsmall;
  font-size: $font_medium;
  line-height: 46px; // This matches the height set on the search bar in select2.scss
  vertical-align: top;
}

nav {
  width: 60%;
  max-width: 800px;
}

.info-button {
  position: absolute;
  line-height: 40px; // Matches search bar height, minus the thicker outline width
  top: 3px;
  right: 0;
  background: $yellow;
  outline: 4px solid $yellow;
  padding: 0px 20px;
  cursor: pointer;
  &:hover {
    background: #000;
    color: $yellow;
    outline: #000;
  }
}

.search-container {
  position: relative;
}

.select2-drop {
  top: 0 !important;
  left: 0 !important;
}

.search-nav {
  // Start with the nav hidden so that the select field doesn't FOUC before javascript kicks in
  display: none;
  .select2-container {
    width: 100%;
  }
}

.select2-disabled {
  display: none !important;
}

.search-select-title {
  display: none !important;
}

.search-category-parent + .search-category-parent {
  padding-top: $space_xsmall;
}

.search-caret {
  position: relative;
  height: 24px;
  width: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  width: 2px;
  margin-left: 8px;
  background: #000;
  animation: blink 1.2s steps(2, start) infinite;
}

@keyframes blink {
  from { visibility: visible; }
  to { visibility: hidden; }
}

